   
   {% extends TeacherController.php % }
   {% extends StudentController.php % }


   <!DOCTYPE html>
<html>
   <head>
       {% block body %}{% endblock %}
    </head>

    <body>
        {% block body %}<h1>Bonjour {{name}} </h1>{% endblock %}

          

    </body>
</html>